.banner-container{
    display: flex;
    background-color: antiquewhite;
    background-position: center;
    background-size: cover;
    text-align: center;  
    justify-content: space-around; 
    align-items: center;
    margin-top: 70px;
}
.banner-heading{
    margin: 5px;
    background-color: bisque;
    padding: 10px;

}
.heading-part{
    text-align:start;
    font-weight: bold;
}
.description{
    width: 450px;
    text-align: start;
    gap: 10px;
}
.button-primary{
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
}
.btn-primary{
    background-color: brown ;
    color: white;
   
}
.img-1{
    padding-right: 250px;
}
/* mainpart */
.main-part{
    text-align: center;  
    justify-content: space-around; 
    align-items: center;
}
.flowers-picture{
    display: flex;
    gap: 20px;
    width: 20%;
    text-align: center;  
}
.background-style{
    background-image: url("../images/Rectangle\ 9.png");
    height: 70vh;
    background-repeat: no-repeat;
    margin: 50px;
    text-align: center;  
    justify-content: space-around; 
    align-items: center;
    margin-top: 100px;
    padding: 200px;
}
.buttn-primary{
    padding: 10px;
    margin: none;
}


    background-image: url("../images/Rectangle\ 9.png");

